<bu-footer>
  <div class="content has-text-centered">
    <p>
      <strong>ngx2-bulma</strong> by <a href="https://github.com/ngx-builders">ngx-builders</a>. The
      source code is licensed
      <a href="https://github.com/ngx-builders/ngx-bulma/blob/master/LICENSE">MIT</a>.
    </p>
  </div>
  <div class="content has-text-centered">
    <p>All images used are created by Iryn Kasparova. You can connect with her on <a href="https://www.linkedin.com/in/iryn-kasparova/" target="_blank">LinkedIn</a>
    </p>
  </div>
  <div class="content has-text-centered">
    <app-social-media></app-social-media>
  </div>
</bu-footer>
