<h1 class="page-title title has-text-centered is-2">Follow me on</h1>
<div class="divider">
  <div class="spacer"></div>
</div>
<div class="main-container columns is-multiline">
  <div class="profile-container">
    <bu-box class="profile-card has-text-centered">
      <div buContainer class="social-icons">
        <a class="linkedin-icon" href="https://www.linkedin.com/in/yadavsantosh/" routerLinkActive="router-link-active" target="_blank"><i
            class="fab fa-linkedin-in fa-5x"></i></a>
        <a class="twitter-icon" href="https://twitter.com/SantoshYadavDev" routerLinkActive="router-link-active" target="_blank"><i
            class="fab fa-twitter fa-5x"></i></a>
        <a class="github-icon" href="https://github.com/santoshyadav198613" routerLinkActive="router-link-active" target="_blank"><i
            class="fab fa-github fa-5x"></i></a>
        <a class="blog-icon" href="https://indepth.dev/author/santosh/" routerLinkActive="router-link-active" target="_blank"><i
            class="fas fa-rss fa-5x"></i></a>
      </div>
    </bu-box>
  </div>
</div>
