<div class="social-icons">
  <a class="linkedin-icon" href="https://www.linkedin.com/in/santoshyadavdev/" routerLinkActive="router-link-active"
    target="_blank"><i class="fab fa-linkedin-in"></i></a>
  <a class="twitter-icon" href="https://twitter.com/SantoshYadavDev" routerLinkActive="router-link-active"
    target="_blank"><i class="fab fa-twitter"></i></a>
  <a class="github-icon" href="https://github.com/santoshyadavdev" routerLinkActive="router-link-active"
    target="_blank"><i class="fab fa-github"></i></a>
  <a class="blog-icon" href="https://indepth.dev/author/santosh/" routerLinkActive="router-link-active"
    target="_blank"><i class="fas fa-rss"></i></a>
  <a class="yt-icon" href="https://www.youtube.com/c/TechTalksWithSantosh" routerLinkActive="router-link-active"
    target="_blank"><i class="fab fa-youtube"></i></a>
    <a class="twitch-icon" href="https://www.twitch.tv/santoshyadavdev" routerLinkActive="router-link-active"
    target="_blank"><i class="fab fa-twitch"></i></a>
</div>
