.app-show {
  .columns {
    margin: 10px;
    flex-wrap: wrap;
  }

  .has-text-centered {
    margin: 30px 0 30px 0px;
  }

  .button {
    margin: 8px 8px 8px 0;
  }

  @media screen and (max-width: 768px) {
    .media-content {
      overflow-x: unset;
    }
  }

  .social-icons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    a {
      border-radius: 30px;
      color: #fff;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      width: 36px;
      font-size: 18px;
      text-align: center;
      margin: 10px;
    }
    .linkedin-icon {
      background-color: #0976b4;
    }
    .twitter-icon {
      background-color: #46c0fb;
    }
    .github-icon {
      background-color: #333;
    }
    .blog-icon {
      background-color: #666666;
    }
  }
}
