<bu-hero color="info" gradient="true">
  <div buContainer class="has-text-centered">
    <h1 class="title">Tech Talks With Santosh</h1>
  </div>
</bu-hero>
<div class="columns">
  <ng-container *ngIf="showData$ | async as shows">
    <ng-container *ngFor="let data of shows">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="data.bannerurl" [alt]="data.description">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{data.episode}}</p>
                <p class="subtitle is-6">{{data.guest}}</p>
              </div>
            </div>

            <div class="content">
              <div>
                {{data.description}}
              </div>
              <a buButton theme="link"  [href]="data.streamurl" target="_blank">Live Stream</a>
              <a *ngIf="data.active" buButton theme="link"  [href]="data.question" target="_blank">ASk Question</a>
              <br>
              Time: <b>{{data.datetime}}</b>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>


