<div class="columns is-mobile">
  <ng-container *ngIf="showData$ | async as shows">
    <ng-container *ngFor="let data of shows">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="data.bannerurl" [alt]="data.description">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img [src]="data.bannerurl" [alt]="data.episode">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{data.episode}}</p>
                <p class="subtitle is-6">{{data.guest}}</p>
              </div>
            </div>

            <div class="content">
              <div>
                {{data.description}}
              </div>
              <a [href]="data.streamurl">Live Stream</a>
              <br>
              <time datetime="2016-1-1">{{data.datetime}}</time>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>


