<div class="columns">
  <ng-container *ngIf="showData">
    <ng-container *ngFor="let data of showData">
      <div class="column is-4">
        <div class="card bm--card-equal-height">
          <div class="card-image">
            <figure class="image is-4by3">
              <img loading="lazy" [src]="data.bannerurl" [alt]="data.description">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Topic: {{data.episode}}</p>
                <p class="subtitle is-6">Guest: {{data.guest}}</p>
              </div>
            </div>

            <div class="content">
              <div>
                {{data.description}}
              </div>
              <div>
                Time: <b>{{data.datetime | date: 'dd MMM yyyy hh:mm:ss a'}} IST</b>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <div>

              <div class="social-icons">
                <a class="linkedin-icon" [href]="data.linkedIn"
                  routerLinkActive="router-link-active" rel="noopener" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="twitter-icon" [href]="data.twitter"
                  routerLinkActive="router-link-active" rel="noopener" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="github-icon" [href]="data.github"
                  routerLinkActive="router-link-active" rel="noopener" target="_blank"><i class="fab fa-github"></i></a>
                <a class="blog-icon" [href]="data.blog" rel="noopener" routerLinkActive="router-link-active"
                  target="_blank"><i class="fas fa-rss"></i></a>
              </div>
              <a buButton theme="link" [href]="data.streamurl" rel="noopener" target="_blank">Live Stream</a>
              <a *ngIf="data.active" buButton theme="link" [href]="data.question" rel="noopener" target="_blank">Ask Question</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
