<bu-hero color="info" gradient="true">
  <div buContainer class="has-text-centered">
    <h1 class="title">Meetups, Conferences and Workshops</h1>
  </div>
</bu-hero>
<div class="columns">
  <ng-container *ngIf="talks$ | async as talks">
    <ng-container *ngFor="let data of talks">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="data.banner" [alt]="data.description">
            </figure>
          </div>
          <bu-card-header>
            <bu-card-title>Title: {{data.title}}</bu-card-title>
          </bu-card-header>
          <div class="card-content">
            <div class="content">
              <div>
                {{data.description}}
              </div>
              <a *ngIf="!data.paid && data.online && data.streamurl" buButton theme="link" [href]="data.streamurl">Live Stream</a>
              <a *ngIf="!data.paid && data.online" buButton theme="link" [href]="data.meetupUrl">RSVP Now</a>
              <span *ngIf="data.paid">Contact Us on <b>{{data.contact}}</b> to book your place.</span>
              <br>
              Time: <time><b>{{data.datetime}}</b></time>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>


