<bu-hero color="info" gradient="true">
  <div buContainer class="has-text-centered">
    <h1 class="title">Meetups and Conferences</h1>
  </div>
</bu-hero>
<div class="columns is-mobile">
  <ng-container *ngIf="talks$ | async as talks">
    <ng-container *ngFor="let data of talks">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="data.meetup" [alt]="data.description">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <div>
                {{data.title}}
              </div>
              <div>
                {{data.description}}
              </div>
              <a [href]="data.streamurl">Live Stream</a>
              <br>
              <time datetime="2016-1-1">{{data.datetime}}</time>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>


