<bu-hero color="info" gradient="true">
  <div buContainer class="has-text-centered">
    <img loading="lazy" class="profile-logo" alt="santosh yadav" src="../../assets/badge.webp" />
    <h1 class="title">Full Stack Developer | Angular GDE | Open Source Contributor</h1>
    <div buContainer class="has-text-centered">
      <h2 class="subtitle">Hello everyone, I am Santosh Yadav, I am a GDE for Angular and an active contributor to Angular and
        NgRx.
        I write for <b><a href="https://indepth.dev/" rel="noopener" target="_blank">inDepth</a></b> and mentor at <b><a href="https://www.dotnettricks.com/" rel="noopener" target="_blank">DotNetTricks</a></b> and also organize the Pune Tech Meetup.
        Apart from that, I am the creator of the ng deploy package, source-map-analyzer and part of NestJSAddons core team.</h2>
    </div>
  </div>
</bu-hero>
<div class="column">
  <!-- <app-social-media></app-social-media> -->
  <app-recentblogs></app-recentblogs>
  <app-recentevents></app-recentevents>
</div>
<router-outlet></router-outlet>
