<bu-hero color="info" gradient="true">
  <div buContainer class="has-text-centered">
    <img class="profile-logo" alt="ngx2-bulma" src="../../assets/badge.png" />
    <h1 class="title">GDE Angular</h1>
    <h2 class="subtitle">Santosh is a GDE for Angular and web Technologies and an active contributor to Angular and
      NgRx.
      He writes for AngularInDepth and mentors at Dotnettricks and Organizer of Pune Tech Meetup.
      He is the creator of ng deploy package for Netlify and part of NestJSAddons core team.</h2>
  </div>
</bu-hero>
<div class="column has-text-centered">
  <app-social-media></app-social-media>
</div>
<router-outlet></router-outlet>
